<toolbar (query)="filter($event)"></toolbar>
<ul *ngIf="courses | async" class="courses">
  <li *ngIf="(courses | async)?.length===0 && query.length===0" class="no-data">No data. Feel free to add new course.</li>
  <li *ngIf="(courses | async)?.length===0" class="no-data">No courses that matches query.</li>
  <li *ngFor="let course of courses | async" course-highlight [currentCourse]='course' [ngClass]="{'top-rated':course.topRated}">
    <course-item [course]="course" (remove)="removeCourse($event)"></course-item>
  </li>
</ul>
<div style="text-align: center; margin: 5px 5px">
  <button *ngIf="!isEndOfList" type="button" (click)="addMoreCourses()">Add more...</button>
</div>