<toolbar (query)="filter($event)"></toolbar>
<ul *ngIf="courses" class="courses">
  <li *ngIf="courses.length===0" class="no-data">No data. Feel free to add new course.</li>
  <!--<li *ngIf="filteredCourses && filteredCourses.length===0" class="no-data">No courses that matches query.</li>-->
  <li *ngFor="let course of courses | myOrderBy:'desc'" course-highlight [currentCourse]='course' [ngClass]="{'top-rated':course.topRated}">
    <course-item [course]="course" (delete)="removeCourse($event)"></course-item>
  </li>
</ul>
<div style="text-align: center; margin: 5px 5px">
  <button type="button" (click)="addMoreCourses()">Add more...</button>
</div>