.courses {
  list-style-type: none;
}

.courses li {
  border: 2px solid black;
  margin-bottom: 10px;
}

#no-data{
  text-align: center;
  background-color: lightgray;
  font-size: 30px;
}

.favorite{
background-color: yellow;
}
