.row {
  display: inline-block;
}

.content {
  width: 75%;
}

.controls {
  width: 24%;
  vertical-align: top;
}

.controls button {
  width: 100%;
  margin-top: 10px;
}

.content p {
  width: 15%;
  display: inline-block;
  margin: 1% 2%;
}

.content :first-child{
    width: 30%;
}

.content .description {
  display: block;
  width: 96%;
  text-align: justify;
}

.content .duration {
  text-align: right;
}

.content .date {
  width: 20%;
  text-align: right;
}

.star:before{
font-size: 200%;
  color: orange;
  content: '\02606'
}

.star-filled:before{
  font-size: 200%;
  color: orange;
  content: '\02605'
}