form{
  margin: 100px 10% 100px auto;
  text-align: center;
}

.input-group{
  margin: 10px auto;
}

.label {
  display: inline-block;
  width: 100px;
}

button{
  width: 100px;
}

.required::after{
  content: '*';
  color: red;
}

.error-message{
  color: red;
  margin-left: 100px;
}
