<form #form="ngForm" (submit)="submit(form)">
  <div class="input-group">
    <div class="label">
      <label for="login">Login<span class="required"></span></label>
    </div>
    <input id="login" type="text" name="login" #login="ngModel" [ngModel]="form.login" required>
    <p class="error-message" *ngIf="login.touched && login.invalid">this field can not be empty</p>
  </div>
  <div class="input-group">
    <div class="label">
      <label for="password">Password<span class="required"></span></label>
    </div>
    <input id="password" type="password" name="password" #password="ngModel" [ngModel]="form.password" required>
    <p class="error-message" *ngIf="password.touched && password.invalid">this field can not be empty</p>
  </div>
  <button [disabled]="!form.valid">Enter</button>
</form>