.header {
  height: 100px;
}

.logo {
  display: inline-block;
  width: 50%;
  vertical-align: middle;
}

.logo img {
  float: left;
  height: 100px;
  margin-left: 20px;
}

.logo h2 {
  font-size: 20px;
  margin-top: 10%;
}

.breadcrumbs {
  width: 28%;
  display: inline-block;
}

.cabinet {
  width: 20%;
  display: inline-block;
  text-align: right;
}

.cabinet p {
  margin: 1px;
}

.clickable{
  text-decoration: underline;
  cursor: pointer;
}
