<div class="wrapper">
  <form [formGroup]="courseForm" (submit)="submit()">
    <div class="input-group">
      <div class="label">
        <label for="title">Title</label>
      </div>
      <input type="text" id="title" [(ngModel)]="currentCourse.title" formControlName="title">
      <div *ngIf="courseForm.get('title').touched">
        <div class="error-message" *ngIf="courseForm.get('title').errors?.required">
          This field is required
        </div>
        <div class="error-message" *ngIf="courseForm.get('title').errors?.maxlength">
          This field should be maximum {{courseForm.get('title').errors.maxlength.requiredLength}} characters (current: {{courseForm.get('title').errors.maxlength.actualLength}})
        </div>
      </div>
    </div>
    <div class="input-group">
      <div class="label">
        <label for="description">Description</label>
      </div>
      <textarea name="" id="description" [(ngModel)]="currentCourse.description" cols="40" rows="10" formControlName="description"></textarea>
      <div *ngIf="courseForm.get('description').touched">
        <div class="error-message" *ngIf="courseForm.get('description').errors?.required">
          This field is required
        </div>
        <div class="error-message" *ngIf="courseForm.get('description').errors?.maxlength">
          This field should be maximum {{courseForm.get('description').errors.maxlength.requiredLength}} characters (current: {{courseForm.get('description').errors.maxlength.actualLength}})
        </div>
      </div>
    </div>
    <div class="input-group">
      <div class="label">
        <label for="date">Date</label>
      </div>
      <date formControlName="date"></date>
      <div *ngIf="courseForm.get('date').touched">
        <div class="error-message" *ngIf="courseForm.get('date').errors?.required">
          This field is required
        </div>
        <div class="error-message" *ngIf="courseForm.get('date').errors?.invalidDateFormat">
          Date should match pattern dd/MM/yyyy
        </div>
      </div>
    </div>
    <div class="input-group">
      <div class="label">
        <label for="duration">Duration</label>
      </div>
      <duration [(ngModel)]="currentCourse.duration" formControlName="duration"></duration><span id="formatted-duration" *ngIf="!courseForm.get('duration').errors?.invalidDurationFormat">{{ courseForm.get('duration').value | myDuration}}</span>
      <div *ngIf="courseForm.get('duration').touched">
        <div class="error-message" *ngIf="courseForm.get('duration').errors?.required">
          This field is required
        </div>
        <div class="error-message" *ngIf="courseForm.get('duration').errors?.invalidDurationFormat">
          Date should contains numbers only
        </div>
      </div>
    </div>
    <div class="input-group">
      <div class="label">
        <label for="authors">Authors</label>
      </div>
      <authors [items]="authors | async" [checkedAuthors]="currentCourse.authors" formControlName="authors"></authors>
      <div class="error-message" *ngIf="courseForm.get('authors').touched && courseForm.get('authors').errors?.nothingChecked">
        At least one author should be checked
      </div>
    </div>
    <div class="button-group">
      <button [disabled]="!courseForm.valid">Save</button>
      <button type="button" (click)="cancel()">Cancel</button>
    </div>
  </form>
</div>